:root{
    --textBlack: #454545;
    --textSubtitle: #FF8F9C;
    --textTitle: #212121;
    --textColor: #787878;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins, sans-serif;
    font-size: 16px;

}

/* cart */
.cart{
    width: 40px;
    height: 40px;

    padding: 10px;
    border-radius: 50%;

    background-color: white;
    box-shadow: rgba(240, 46, 170, 0.9) 0px 5px 15px;

    opacity: 80%;

    position: fixed;
    top: 85%;
    left: 90%;
    z-index: 99999;
}

.cart .material-symbols-outlined{
    color: black;
    font-size: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.count-cart{
    z-index: 9999999999;
    position: absolute;
    top: 50%;
    left: 70%;

    font-size: 1rem;

    color: black;
}

/*================================== menu ==============================*/

.nav-main-menu{
    width: 100%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    margin-bottom: 10px;
}

.nav-main-menu ul{
    width: 80%;

    margin: 1rem auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;

    list-style-type: none;
}

.nav-main-menu ul li{
    font-size: 20px;
}

.nav-main-menu ul li a{
    text-decoration: none;
    color: var(--textBlack);
    text-transform: uppercase;
    font-weight: 600;
}


/*================================== banner ==============================*/

.banner{
    background-image: url("../images/banner-1.jpg");
    background-size: cover;
    object-fit: cover;

    width: 80%;
    height: 400px;

    margin: 0 auto;
    border-radius: 10px;
}

.banner-content{
    width: 40%;
    height: 80%;
    transform: translate(100px, 50px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-subtitle{
    color: var(--textSubtitle);
    font-size: 1.625rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.banner-title{
    color: var(--textTitle);
    font-size: 2.625rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;

    margin: 0 auto 10px auto;
}

.banner-text{
    color: var(--textColor);
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.banner-btn{
    background-color: var(--textSubtitle);
    color: white;

    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    border-radius: 5px;
    padding: 7px 20px;

    transition: 0.2s;
    cursor: pointer;
}


/*================================== main ==============================*/

main{
    display: flex;
    width: 80%;
    margin: 20px auto;

}

main .left{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

main .left .list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    border: .0001rem solid #bebebe;
    border-radius: 10px;

    padding: 10px;
}

main .right{
    flex: 3;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    margin-left: 2rem;
    padding-bottom: 20px;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.right .item{
    width: 100%;
    height: calc(100% - 20px);

    margin: 0 auto;
    padding-top: 20px;
}

.item-info{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 20px;
}

.right .item img{
    height: 200px;
}

main .right h3{
    border-bottom: 0.0001rem solid #bebebe;
}

.title-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    cursor: pointer;
}

.title-items:hover{
    background-color: #FF8F9C;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.title-items .title-item{
    font-weight: 400;
}

.right-title{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

.right-title .items{
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;
    max-height: 300px;
}

.right-title .items .item{
    width: 30%;
    padding: 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.right-title .items .item .item-image{
    height: 200px;
    width: 100%;
}

.right-title .items .item .title-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

}

.title-item .item-name{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;

    width: 100% ;
    padding: 5px;

    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-item .item-btn{
    background-color: var(--textSubtitle);
    color: white;

    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    border-radius: 5px;
    padding: 7px 10px;
    margin: 10px 0;

    transition: 0.2s;
    cursor: pointer;
}


/*==========================================CART DETAIL================*/
.cart-detail{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.list-items{
    width: 100%;
    text-align: left;
}

.item-content-input{
    width: 80px;
    padding: 0 5px;
    border: 0.0000001rem solid #454545;
    border-radius: 5px;
}

.btn-remove{
    background-color: white;
    cursor: pointer;
}

.btn-remove:hover{
    background-color: red;
    border-radius: 5px;
}

.btn-remove:hover .material-symbols-outlined{
    color: white;
}

.btn-remove .material-symbols-outlined{
    color: red;
    font-size: 2rem;
}

.cart-options{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-clear{
    background-color: white;
    color: red;
    border: 0.0001rem solid #454545;
}

.btn-clear:hover{
    background-color: red;
    color: white;
    border: none;
}

.btn-checkout{
    background-color: #41FB3A;
    color: white;
    text-decoration: none;
}

.btn-checkout, .btn-clear{
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/*=====================LOGIN=========================*/

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 30%;
    height: 300px;

    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.f{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.f input{
    width: 200px;
    border-radius: 5px;
    padding: 3px 5px;

    border: 0.000001rem solid #bebebe;
}

#remember-me{
    width: 20px;
    height: 20px;
}

.message{
    background-color: #41FB3A;
    color: red;
    border-radius: 5px;
    width: 100%;

    padding: 10px;
}

/*=====================CEHCKOUT=====================*/

main .right-checkout{
    flex: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    margin-left: 2rem;
}

.right-checkout .checkout{
    width: 100%;
    margin-top: 2rem;
    padding-top: 2rem;

    border-top: 0.00000001rem solid #787878;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.checkout-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout-form .form-input{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.fa{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fa textarea{
    width: 100%;
    border: 0.0000001px solid #787878;
    padding-left: 5px;
}

textarea:focus{
    outline: none;
}

